/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

//--------------------------------- 修改导航栏 brand logo 样式 ----------------------
.navbar-brand > img {
    display: inline-block;	//图片和链接文字显示在同一行
    margin-right: 10px; //图片和链接文字拉开一点距离
    width: 32px; //定制图片宽度
    height: 32px; //定制图片高度
}

//--------------------------------- 修改导航栏 样式 ----------------------
.navbar-default {
    background-color: #333333;//背景颜色
    border-color: #333333;//边框色
    margin-bottom: 0;//底部 margin 不撑开距离
}

//--------------------------------- 修改导航栏 brand字体 样式 ----------------------
.navbar-default .navbar-brand {
   color: #ffffff;//字体颜色
   padding: 10px 15px;//上下10px,左右15px
   line-height: 30px;//文字行高
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f2f2f2;//鼠标放置在链接上的文字颜色
  background-color: transparent;//鼠标放置在链接上的背景颜色，这里设为透明
}


//--------------------------------- 修改导航栏 链接颜色 ----------------------
.navbar-default .navbar-nav > li > a{
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;//圆角为0
    }
}

//--------------------------------- 修改 .carousel 整体样式 ------------------------
#myCarousel{
  //padding-bottom: 110px;//内部的底部边距，这样按钮不会很靠近底部了
  margin: 0 -15px 0 -15px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离
  border-radius: 0;//圆角为0
  height: 730px; //左右按钮自带阴影的高度
  background-color: #333333;
}

//--------------------------------- 修改 .carousel.jumbotron 样式 ------------------------

.carousel-inner .jumbotron {
  background-image:url('/images/carousel-33.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;//圆角为0
}

//--------------------------------- 修改 footer 样式 ------------------------

footer {
  background-color: #333333;
  padding: 35px;
  margin-top: 0;
}
footer p {
  color: #ffffff;
  font-size: 15px;
}
