/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar{
  //background-color: #0b57ac;
  //color: #ffffff;
}

.jumbotron {
  background-image:url('https://ww4.sinaimg.cn/large/006tNbRwgy1fco2dse87dj31kw11jqv5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
}

/*menu*/
.menu-wrap {
  background: #333333;
  height: 42px;
  line-height: 42px;
  color: #fff;
}
.menuList-item {
  a {
    color: #FFF;
  }
  padding: 0 22px;
  cursor: pointer;
}
.menuList-item:hover {
  background-color: #434343;
}
.menuList-activeItem {
  background: #D32048;
}
.menuList-activeItem:hover {
  background: #D32048;
}

/*商品列表*/
.productList-wrap {
  width: 1220px;
}
.productList {
  margin-bottom: 0;
}
.productList-item {
  width: 230px;
  height: 350px;
  background: #fff;
  margin-right: 12px;
  margin-bottom: 12px;
}
.productList-lastItem {
  margin-right: 0;
}
.productList-item-name {
  color: #333;
}
.productList-item-desc {
  color: #808080;
}
