<div class="footer">

  <footer class="row" style="margin-top: 50px;">
      <p class="text-center">Copyright ©2017 一宏工作室
          <br>Design by <strong>Kuangbenzhuzhu</stron>

      </p>
  </footer>
  
</div>
